<%- include('partials/header.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block">
                    <h2 class="tm-block-title">Signup Chart</h2>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block">
                    <h2 class="tm-block-title">Performance</h2>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller">
                    <h2 class="tm-block-title">Category vise Orders</h2>
                    <div id="pieChartContainer">
                        <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2018</b> All rights reserved.

                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
            </p>
        </div>
    </footer>
    </div>

    
    <script src="/js/admin/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->

    <script src="/js/admin/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->

    <script src="/js/admin/moment.min.js"></script>
    <!-- https://momentjs.com/ -->


    <script src="/js/admin/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->

    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })

        // Accessing the graphData passed from the server
        var graphDataLabelUser =  '<%= graphDataUser.label %>'
        var graphDataDataUser = '<%= graphDataUser.data%>'
  
        // Extract labels and data
        var categoryLabels = [];
        var categoryOrderCounts = [];

        var orderColors = []
        var orderColorCount = []

        <% categoryData.forEach(function(item) { %>
            categoryLabels.push('<%= item.category[0] %>') // Assuming each item has only one category
            categoryOrderCounts.push(<%= item.orderCount %>)
        <% }) %>

        <% colorData.forEach(function(item) { %>
            orderColors.push('<%= item.color %>'); // Assuming each item has only one category
            orderColorCount.push(<%= item.orderCount %>);
        <% }) %>




    </script>
  

    <script src="/js/admin/tooplate-scripts.js"></script>

    </body>

    </html>