<%- include('partials/header.ejs') %>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Edit Product</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="/admin/product/edit-product/<%= product._id%>" method="post" class="tm-edit-product-form"
                enctype="multipart/form-data">
                <div class="form-group mb-3">
                  <label for="name">
                    Name
                  </label>
                  <input id="name" name="name" type="text" value="<%= product.name%>" class="form-control validate" />
                </div>
                <div class="form-group mb-3">
                  <label for="price">
                    Price
                  </label>
                  <input id="price" name="price" type="text" value="<%= product.price %>"
                    class="form-control validate" />
                </div>
                <div class="form-group mb-3">
                  <label for="description">Description</label>
                  <textarea name="description" class=" form-control validate tm-small" rows="5" required>
                    <%= product.description%>
                  </textarea>
                </div>
                <div class="form-group mb-3" style="position: relative;">
                  <i class="fa-solid fa-plus" id="add-specification"></i>
                  <label for="specifications">specifications</label>
                  <ul id="specification-list">
                    <% product.specifications.forEach(spec=> { %>
                      <li>
                        <input type="text" value=" <%= spec %>" name="specifications[]" class="form-control validate"><i
                          class="fa-solid fa-xmark"></i>
                      </li>
                      <% }) %>
                  </ul>
                </div>
                <div class="form-group mb-3">
                  <label for="category">Category</label>
                  <select name="category" class="custom-select tm-select-accounts" id="category">
                    <option>Select category</option>
                    <% categories.forEach(category=> { %>
                      <option value="<%= category.name %>" <%=category.name===categoryName.category[0].name ? 'selected'
                        : '' %>>

                        <%= category.name %>
                      </option>
                      <% }) %>
                  </select>
                </div>
                <div class=" form-group mb-3">
                  <label for="category">Sub Category</label>
                  <select name="category" class=" custom-select tm-select-accounts" id="category">
                    <option>Select category</option>
                    <option value="<%= product.sub_category %>" selected>
                      <%= product.sub_category %>
                    </option>
                    <% if(product.sub_category===' T-Shirt' ){ %>
                      <option value="Hoodie">Hoodie</option>
                      <option value="Shirt">Shirt</option>
                      <%} else {%>
                        <option value="T-Shirt">T-shirt</option>
                        <option value="Shirt">Shirt</option>
                        <% }%>
                  </select>
                </div>
                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="expire_date">Expire Date
                    </label>
                    <input id="expire_date" name="expire_date" type="date" value="<%= product.expire_date %>"
                      class="form-control validate" data-large-mode="true" />
                  </div>
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="stock">Units In Stock
                    </label>
                    <input id="stock" name="stock" type="text" value="<%= product.stock %>"
                      class="form-control validate" />
                  </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
              <div class="tm-product-img-edit mx-auto">
                <img id="image-preview" src=" /assets/images/products/<%=product.image[0] %>" alt="Product image"
                  class="img-fluid d-block mx-auto">
                <i class="fas fa-cloud-upload-alt tm-upload-icon"
                  onclick="document.getElementById('fileInput').click();"></i>
              </div>
              <div class="custom-file mt-3 mb-3">
                <input name="image" id="fileInput" type="file" style="display:none;" onchange="previewImage(event)" />
                <input type="button" class="btn btn-primary btn-block mx-auto" value="CHANGE IMAGE NOW"
                  onclick="document.getElementById('fileInput').click();" />
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved.

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer>

  <script src="/js/admin/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="/jquery-ui-datepicker/jquery-ui.min.js"></script>
  <!-- https://jqueryui.com/download/ -->
  <script src="/js/admin/.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function () {
      $("#expire_date").datepicker({
        defaultDate: "10/22/2020"
      });
    });
    function previewImage(event) {
      const fileInput = event.target
      var reader = new FileReader()

      if (fileInput.files && fileInput.files[0]) {
        reader.onload = function (event) {
          const imageContainer = document.getElementById('image-preview')
          imageContainer.src = event.target.result
        }
        reader.readAsDataURL(fileInput.files[0])

      }
    }
    document.addEventListener('DOMContentLoaded', function () {
      const addButton = document.getElementById('add-specification');
      const specificationList = document.getElementById('specification-list');

      addButton.addEventListener('click', function () {
        const newInput = document.createElement('input');
        newInput.type = 'text';
        newInput.name = 'specifications[]';
        newInput.className = 'form-control validate';

        const newListItem = document.createElement('li');
        newListItem.appendChild(newInput);

        const removeIcon = document.createElement('i');
        removeIcon.className = 'fa-solid fa-xmark remove-specification';
        newListItem.appendChild(removeIcon);

        specificationList.appendChild(newListItem);
      });

      specificationList.addEventListener('click', function (event) {
        if (event.target.classList.contains('remove-specification')) {
          const listItem = event.target.parentNode;
          listItem.remove();
        }
      });
    });
  </script>
  </body>

  </html>