<%- include('partials/productHeader.ejs')%>
<div class="row px-4">
  <div class="col-md-12 d-flex justify-content-between bg-light mt-2 p-3 px-5">
    <h2>Rating & Reviews</h2>

    <div class="col-2">
      <a href="/user/product-details/<%= product._id %>" style="text-decoration: none;">
        <div class="product-details d-flex " style="gap: 10px;">
          <div class="name-star d-flex flex-column">
            <p><%= product.name %></p>
    
            <div class="d-flex justify-content-end" style="gap: 10px;">
              <span style="background-color: green;font-size: 0.7rem; border-radius: 5px ;padding: 3px;" class="text-white"><%= product.star %><i class="ri-star-line"></i></span>
              <span  class="text-right">(<%= product.stock %>)</span>
    
            </div>
          </div>
        
          <img src="/assets/images/products/<%= product.image[0] %>" alt="" style="width: 70px; height: 70px; border: .5px solid rgb(214, 209, 209);">
    
        </div>
      </a>
      
    </div>
  </div>
</div>

<!-- Side -->
<div class="row px-4 mt-2">
  <div class="col-md-3" >
    <div class="row">
      
      <div class="col-md-12 bg-light" style="padding: 10px;">
        <p style="font-weight: 500;font-size: 1.5rem;">What makes  a good review</p>
      </div>
    </div>
    <!-- Rating Criteria -->
    <div class="row mt-1">
      <div class="col-md-12 bg-light" style="padding: 10px;">
        <p style="font-weight: 400;font-size: 1.4rem;">Have you used this product?</p>
        <p style="font-size: 0.9rem;">Your review should be about your experience with the product.</p>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-12 bg-light" style="padding: 10px;">
        <p style="font-weight: 400;font-size: 1.4rem;">Why review a product?</p>
        <p style="font-size: 0.9rem;">Your valuable feedback will help fellow shoppers decide!</p>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-md-12 bg-light" style="padding: 10px;">
        <p style="font-weight: 400;font-size: 1.4rem;">How to review a product?</p>
        <p style="font-size: 0.9rem;">Your review should include facts. An honest opinion is always appreciated. If you have an issue with the product or service please contact us from the help centre.</p>
      </div>
    </div>
  </div>

  <div class="col-md-8 position-relative"  style="margin-left: 10px;width: 74%;">
    <div class="row border">
      <div class="col-md-12 rate-product bg-light p-3">
        <h4>Rate the Product</h4>
        <div class="mt-3 d-flex align-items-center stars-value"> 
          <i class="ri-star-line" data-value="Very Bad" ></i>
          <i class="ri-star-line" data-value="Bad"></i>
          <i class="ri-star-line" data-value="Good"></i>
          <i class="ri-star-line" data-value="Very Good"></i>
          <i class="ri-star-line" data-value="Excellent"></i>
          <span class="ratingvalue" style="font-weight: bold;"></span>
        </div>
      </div>
    </div>
  
      <div class="row border">
        <div class="col-md-12  bg-light p-3">
            <h4>Review this product</h4>
            <div class="mt-4">
              <textarea name="review_text" id="review_text" rows="10"  placeholder="Write Your Review Here..." style="width: 100%;"></textarea>
    
            </div>
          </div>
      </div>

      <div class="row border">
        <div class="col-md-12 bg-light p-3 d-flex justify-content-between ">

          <i class="ri-camera-line" style="font-size: 1.5rem;cursor: pointer;" onclick="document.getElementById('photoUpload').click()"></i>
          <input type="file" name="" id="photoUpload" class="d-none">
          
          <button class="text-uppercase" type="submit" style="border: none;background-color: orangered; color: white;padding: 20px 100px; font-weight: bold; font-size: 1.5rem;" onclick="submitReview('<%= product._id%>')">Submit</button>   
         
        </div>
      </div>

      

        <% if(message){ %>
          <p class="text-center position-absolute text-white bg-dark" id="message"  style=" height: 60px; width: 50%;left: 10%;bottom: 1%;font-size: 1.5rem;"><i class="ri-check-line" style="background-color: green; border-radius: 50%; "></i><%= message %></p>
          <% } %>
      

  </div>
</div>

<!-- Footer -->
    <!-- Footer-->
    <footer class="bg-dark mt-10  ">

      <!-- Footer socials-->
      <div class="bg-light py-4">
          <div class="container d-flex justify-content-center align-items-center py-2">
              <p class="lead fw-bolder mb-0 lh-1">Find us online</p>
              <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0 ms-3 lh-1">
                  <li class="mx-1 mb-0 lh-1"><a
                          class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i
                              class="ri-instagram-fill ri-xl lh-1"></i></a></li>
                  <li class="mx-1 mb-0 lh-1"><a
                          class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i
                              class="ri-facebook-fill ri-xl lh-1"></i></a></li>
                  <li class="mx-1 mb-0 lh-1"><a
                          class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i
                              class="ri-twitter-fill ri-xl lh-1"></i></a></li>
                  <li class="mx-1 mb-0 lh-1"><a
                          class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i
                              class="ri-snapchat-fill ri-xl lh-1"></i></a></li>
              </ul>
          </div>
      </div>
      <!-- / Footer socials-->

      <!-- Instagram Display-->
      <div class="container pt-8">
          <div class="row g-2">
              <div class="d-none d-md-block col-md-4" data-aos="fade-in" data-aos-delay="150">
                  <picture>
                      <img class="img-fluid" src="/assets/images/instagram/instagram-1.jpg"
                          alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                  </picture>
              </div>
              <div class="col-12 col-md-8" data-aos="fade-in" data-aos-delay="300">
                  <div class="row g-2">
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-2.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-3.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-4.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-5.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-6.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-7.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-8.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                      <div class="col-3">
                          <picture>
                              <img class="img-fluid" src="/assets/images/instagram/instagram-9.jpg"
                                  alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                          </picture>
                      </div>
                  </div>
              </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-3">
              <p class="text-muted m-0">Follow us on Instragram <span class="text-lowercase">@Alpine</span></p>
              <a class="text-link-border fw-bolder m-0 text-white" href="#">More On Instagram <i
                      class="ri-external-link-line align-bottom"></i></a>
          </div>
      </div>
      <!-- Instagram Display-->

      <!-- Info Bar-->
      <div class="container mt-7">
          <div class="row">

              <!-- Info box-->
              <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left">
                  <div
                      class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                      <i class="ri-questionnaire-line ri-lg mb-3 mb-lg-0"></i>
                      <div class="ms-lg-4">
                          <p class="mb-1 lh-1 fw-bold">Customer Services</p>
                          <small class="text-muted"><a class="text-muted" href="#">Click here</a> to chat with our
                              support team</small>
                      </div>
                  </div>
              </div>
              <!-- / Info box-->

              <!-- Info box-->
              <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left" data-aos-delay="250">
                  <div
                      class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                      <i class="ri-truck-line ri-lg mb-3 mb-lg-0"></i>
                      <div class="ms-lg-4">
                          <p class="mb-1 lh-1 fw-bold">Free Delivery</p>
                          <small class="text-muted">Free standard delivery on all orders over $100</small>
                      </div>
                  </div>
              </div>
              <!-- / Info box-->

              <!-- Info box-->
              <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left" data-aos-delay="500">
                  <div
                      class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                      <i class="ri-repeat-line ri-lg mb-3 mb-lg-0"></i>
                      <div class="ms-lg-4">
                          <p class="mb-1 lh-1 fw-bold">Returns</p>
                          <small class="text-muted">30 day money-back returns if you change your mind</small>
                      </div>
                  </div>
              </div>
              <!-- / Info box-->

          </div>
      </div>
      <!-- / Info Bar-->

      <!-- Menus & Newsletter-->
      <div class="border-top-white-opacity py-7 mt-7 text-white">
          <div class="container" data-aos="fade-in">
              <div class="row my-4 flex-wrap">

                  <!-- Footer Nav-->
                  <nav class="col-6 col-md mb-4 mb-md-0">
                      <h6 class="mb-4 fw-bolder fs-6">Shop</h6>
                      <ul class="list-unstyled">
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="./category.html">Menswear</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="./category.html">Womenswear</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="./category.html">Kidswear</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="./category.html">New Arrivals</a></li>
                      </ul>
                  </nav>
                  <!-- /Footer Nav-->

                  <!-- Footer Nav-->
                  <nav class="col-6 col-md mb-4 mb-md-0">
                      <h6 class="mb-4 fw-bolder fs-6">Company</h6>
                      <ul class="list-unstyled">
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">About Us</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">Our Blog</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">FAQs</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">Contact</a></li>
                      </ul>
                  </nav>
                  <!-- /Footer Nav-->

                  <!-- Footer Nav-->
                  <nav class="d-none d-md-block col-md">
                      <h6 class="mb-4 fw-bolder fs-6">Navigation</h6>
                      <ul class="list-unstyled">
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">Register</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">Cart</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">Checkout</a></li>
                          <li class="mb-2"><a
                                  class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all"
                                  href="#">Account</a></li>
                      </ul>
                  </nav>
                  <!-- /Footer Nav-->

                  <!-- Footer Contact-->
                  <div class="col-12 col-md-5">
                      <h6 class="mb-4 fw-bolder fs-6">Join Our Newsletter</h6>
                      <p class="opacity-75">Sign up to our newsletter and we'll email you a code worth 15%
                          off your first order. By subscribing to our mailing list you agree to our terms and
                          conditions.</p>
                      <form
                          class="bg-white d-flex justify-content-start align-items-center border-dark-focus-within transition-all mt-4">
                          <div class="input-group m-0">
                              <input type="text" class="form-control d-flex flex-grow-1 border-0 bg-transparent py-3"
                                  placeholder="Enter your email" aria-label="Enter your email">
                              <span class="input-group-text bg-transparent border-0"><i
                                      class="ri-arrow-right-line align-middle"></i></span>
                          </div>
                      </form>
                  </div>
                  <!-- /Footer Contact-->

              </div>
              <div
                  class="border-top-white-opacity justify-content-between flex-column flex-md-row align-items-center d-flex pt-6 mt-6 px-0">
                  <p class="small opacity-75">&copy; 2021 Alpine All Rights Reserved. Template by <a
                          class="text-white" href="https://www.pixelrocket.store">Pixel Rocket</a></p>
                  <nav>
                      <ul class="list-unstyled">
                          <li class="d-inline-block me-1 bg-white rounded px-2 pt-1"><i
                                  class="pi pi-paypal pi-sm"></i></li>
                          <li class="d-inline-block me-1 bg-white rounded px-2 pt-1"><i
                                  class="pi pi-mastercard pi-sm"></i>
                          </li>
                          <li class="d-inline-block me-1 bg-white rounded px-2 pt-1"><i
                                  class="pi pi-american-express pi-sm"></i></li>
                          <li class="d-inline-block bg-white rounded px-2 pt-1"><i class="pi pi-visa pi-sm"></i></li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <!-- Menus & Newsletter-->

  </footer>
  <!-- / Footer--> <!-- / Footer-->

     <!-- Include Axios via CDN -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  const stars = document.querySelectorAll('.ri-star-line')//stars
  const ParentStars = document.querySelector('.stars-value') //showing rating value
  const ratingValues = document.querySelector('.ratingvalue')

  const message = document.getElementById('message')
  setTimeout(()=> {
    message.style.display = 'none'
  },3000)
  

  stars.forEach((star,index) => {
    star.addEventListener('click', (e) => {
      let ratingValue = e.target.getAttribute('data-value')

    // Remove all existing ri-star-fill classes
        stars.forEach((star, idx) => {
            if (idx <= index) {
                star.classList.remove('ri-star-line')
                star.classList.add('ri-star-fill');
            } else {
                star.classList.remove('ri-star-fill');
                star.classList.add('ri-star-line')
            }
        });


      if(ratingValue === 'Very Bad'){
        ratingValues.innerHTML = '<i class="ri-emotion-sad-line"></i>'+ratingValue
        ratingValues.style.color = 'red'

      } else if(ratingValue === 'Bad'){
        ratingValues.innerHTML ='<i class="ri-emotion-unhappy-line"></i>' +ratingValue
        ratingValues.style.color = 'orange'

      } else if(ratingValue === 'Good'){
        ratingValues.innerHTML = '<i class="ri-emotion-happy-line"></i>'+ratingValue
        ratingValues.style.color = 'green'

      } else if(ratingValue === 'Very Good'){
        ratingValues.innerHTML = '<i class="ri-emotion-happy-line"></i>'+ratingValue
        ratingValues.style.color = 'green'

      } else {
        ratingValues.innerHTML ='<i class="ri-emotion-laugh-line"></i>'+ ratingValue
        ratingValues.style.color = 'green'

      }
      
    })
  });


  //function for submit revew 
  async function submitReview(productId) {
    const review = document.getElementById('review_text').value //review

    // Define a regular expression pattern to match any emotion icon
    const emotionRegex = /<i class="ri-emotion-[a-zA-Z]+-line"><\/i>/;

   // Assuming ratingValues is the element where the rating value is displayed
   const ratingValues = document.querySelector('.ratingvalue')

    // Get the innerHTML of the ratingValues element
    const ratingValuesHTML = ratingValues.innerHTML;

   // Replace any emotion icon with an empty string
    const ratingValue = ratingValuesHTML.replace(emotionRegex, '');

 
    const formData = new URLSearchParams()
  
    formData.append('rating', ratingValue)
    formData.append('review', review)
    formData.append('productId', productId)
  
    const response =await axios.post('/user/review', formData)
    console.log(response)

    if(response.status == 200){
      window.location.href= `/user/review/${productId}?message=Thank you for your feedback!`
    }

  }

</script>

    <!-- local js -->
    <script src="/js/user/userhome.js"></script>
  
    <!-- swiper Js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


    <!-- Vendor JS -->
    <script src="/js/user/vendor.bundle.js"></script>

    <!-- Theme JS -->
    <script src="/js/user/theme.bundle.js"></script>

 


</body>
</html>